.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-card {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
  height: 150px;
}

.employee-card:hover {
  background-color: lightgray;
}

.employee-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.employee-details {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
}

.dropdown {
  position: relative;
}

.close-button {
  margin-bottom: 10px;
  cursor: pointer;
}
